body{
      margin: 0;
}
#To-do-List{
     background: linear-gradient(50deg,rgb(222, 222, 24));
}
#heading{
      background-color:rgb(215, 235, 32,0.9);
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    margin: 0;
}
#form-list{
    margin: 20px 30px;
}
input{
      border: none;
      outline: none;
      padding: 10px;
      margin-bottom: 20px;
}
button{
      border: none;
      outline: none;
      padding: 10px;
      margin-bottom: 20px;
}
#taskInput{
      background-color: rgb(241, 236, 91);
}
